.button-form{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  margin: 20px;

}
.form-floating{
  min-width: 100%;
  margin: 2px;
}


.card{

  background-color: #C9C9C9;
  border-radius: 50px;

}
.config{
  display: flex;
  align-items: center;

  justify-content: center;

  height: 100vh;

}

.submit{
  font-family: 'Bebas Neue';
  background-color: #E68D2D;
}

.form-floating input{
  margin-top: 10px;

  padding:0 5px;

  background-color: transparent;

  border:none;

  border-bottom: 1px solid #e1e1e1;

  outline: none;

  color: black;
}
