.card{
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #C9C9C9;
  border-radius: 50px;

}
.card-body{
  margin-top: 2em;
}

.button-form{
  margin: 20px;
  margin-top: 50px;
}

.checkbox-inline{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

input[type='radio']{
  margin-right: 5px;
}

.form-floating input{


  background-color: transparent;

  border:none;

  border-bottom: 1px solid #e1e1e1;

  outline: none;

  color: black;
}
.submit{
  font-family: 'Bebas Neue';
  background-color: #E68D2D;
}

.config{

  display: flex;
  align-items: center;

  justify-content: center;

  height: 100vh;

}
