.card{
  height: 500px;
  background-color: #C9C9C9;
  border-radius: 50px;
}

.botoes{
  margin: 20px;
  margin-top: 4em;
}
.card-body{
  margin-top: 50px;
}

.config{
  display: flex;
  align-items: center;

  justify-content: center;

  height: 100vh;

}
.form-floating input{
  background-color: transparent;

  border:none;

  border-bottom: 1px solid #e1e1e1;

  outline: none;

  color: black;
  margin-bottom: 15px;
}
.submit{
  font-family: 'Bebas Neue';
  background-color: #E68D2D;
}
