h1{
  display: flex;
  align-items: flex-start;
}

h3{
  margin-top: 50px;
}

.container{
  margin-top: 40px;
  color: white;
}

.texto{
  margin-top: 40px;
  font-size: 15pt;

}

.imagem{
  margin: auto;
  margin-right: 70px;

}
.col-margin{
  margin-left: 50px;
}
.col{
  margin-bottom: 30px;
}
