<div class="container">
  <div class="row">
    <div class="col">
      <h1>NOSSO PROPÓSITO</h1>
      <div class="texto">
        <p [align]="'justify'">
          Como empresa, visamos a satisfação dos nossos usuários, desenvolvendo funcionalidade, praticidade e conforto dentro de sua casa,
          favorecendo de forma digital, a agilidade de suas transações financeiras.
        </p>
        <p [align]="'justify'">
          Associado a Tecnologia, o Banco Dutra permite que saques,
          tranferências e depósitos sejam executados com a máxima segurança, promovendo a tranquilidade nos nossos consumidores.
        </p>
        <p [align]="'justify'">
          Tendo isso em vista, a seguir seguem as especificações do nosso projeto em questão, bem como as redes socias do nosso fundador.
        </p>
      </div>
    </div>
    <div class="col imagem">
      <img src="/assets/computador.jpeg" style="width: 120%; height: 110%px;">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="/assets/Banco.jpg" style="width: 100%; height: 70%; margin-top: 30px;">
    </div>
    <div class="col col-margin">
      <h1>SOBRE O PROJETO</h1>
      <div class="texto">
        <p [align]="'justify'">
          O objetivo do nosso projeto é proporcionar ao usuário uma experiencia simples e objetiva, para que qualquer
          pessoa consiga utilizar nossa interface sem complicações ou dificuldades desnecessárias.
        </p>
        <p [align]="'justify'">
          Nosso site permite que um usuário cadastre seu login e a partir disso tenha acesso as demais funcionalidades, como
          a criação de cliente e conta.
        </p>
        <h3>REDES SOCIAIS</h3>
        <p [align]="'justify'">
          <span></span>
          Instagram: <a href="https://www.instagram.com/dev_init_oficial/">dev_init_oficial</a>
        </p>
        <p [align]="'justify'">
          Linkedin: <a href="https://www.linkedin.com/in/lucas-dutra-8b41681b7/">Lucas Dutra</a>
        </p>
        <p [align]="'justify'">
          Github: <a href="https://github.com/lucashbdutra">lucashbdutra</a>
        </p>
      </div>
    </div>
  </div>
</div>
