<div id="login">

  <form class="card form" [formGroup]="form" (ngSubmit)="onLogin()">

      <div class="card-header" [align]="'center'">

          <h2>Login</h2>

      </div>

      <div class="card-content">

          <div class="card-content-area">

              <label for="usuario">Usuário</label>

              <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username">

          </div>

          <div class="card-content-area">

              <label for="password">Senha</label>

              <input type="password" class="form-control" id="pasword" placeholder="Password" formControlName="password">

          </div>

      </div>

      <div class="card-footer">

          <input type="submit" value="Entrar" class="submit" [disabled]="!form.valid">

          <a routerLink="/login/cliente/">Ainda não tem conta? Cadastre-se!</a>

      </div>

  </form>

</div>

